@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    ViewBag.Title = "Index";
}

<h2>My Movie List</h2>

<p>Hello from our View Template!!!1!1!!</p>

<h1>@ViewBag.Message</h1>
<h1>@ViewBag.ID</h1>
