<div class="jobs-overview-div fl-col fl-center">

    <div class="jobs-header fl-row fl-center">
        <h1 class="title heading">Jobs Overview</h1>
    </div>

    <div class="jobs-overview fl-row fl-center">
        <div class="fl-row fl-center">
            <h3 class="jobs-title">Job</h3>
            <p class="jobs-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus delectus nam, reprehenderit quod ex repellendus libero corrupti. Fugit, numquam enim reiciendis maiores voluptas ut, sed illum explicabo illo, quia obcaecati.</p>
        </div>
    </div>

    <div class="jobs-engineer fl-row fl-center">
        <div class="jobs-title fl-row fl-center">
            <div class="profile-img assigned-engineer-img"></div>
        </div>
        <p class="assigned-description jobs-description">John Doe has been assigned to this job</p>
    </div>

    <div class="jobs-assets fl-col fl-center">
        <div class="job-assets-header fl-row fl-center">
            <h1 class="title heading">Assigned Assets</h1>
            <button class="create-job-button">Add Asset</button>
        </div>
        <div class="job-assets-list fl-row">

            <div class="job-asset fl-col fl-center">
                <div class="job-asset-img"></div>
                <p class="job-asset-id">HAM123</p>
                <button class="job-asset-remove">Remove</button>
            </div>

            <div class="job-asset fl-col fl-center">
                <div class="job-asset-img"></div>
                <p class="job-asset-id">HAM124</p>
                <button class="job-asset-remove">Remove</button>
            </div>

            <div class="job-asset fl-col fl-center">
                <div class="job-asset-img"></div>
                <p class="job-asset-id">HAM125</p>
                <button class="job-asset-remove">Remove</button>
            </div>

            <div class="job-asset fl-col fl-center">
                <div class="job-asset-img"></div>
                <p class="job-asset-id">HAM126</p>
                <button class="job-asset-remove">Remove</button>
            </div>

            <div class="job-asset fl-col fl-center">
                <div class="job-asset-img"></div>
                <p class="job-asset-id">HAM123</p>
                <button class="job-asset-remove">Remove</button>
            </div>

            <div class="job-asset fl-col fl-center">
                <div class="job-asset-img"></div>
                <p class="job-asset-id">HAM123</p>
                <button class="job-asset-remove">Remove</button>
            </div>

            <div class="job-asset fl-col fl-center">
                <div class="job-asset-img"></div>
                <p class="job-asset-id">HAM123</p>
                <button class="job-asset-remove">Remove</button>
            </div>

            <div class="job-asset fl-col fl-center">
                <div class="job-asset-img"></div>
                <p class="job-asset-id">HAM123</p>
                <button class="job-asset-remove">Remove</button>
            </div>

            <div class="job-asset fl-col fl-center">
                <div class="job-asset-img"></div>
                <p class="job-asset-id">HAM123</p>
                <button class="job-asset-remove">Remove</button>
            </div>

        </div>
    </div>
