<div class="jobs-div fl-col fl-center">

    <div class="jobs-header fl-row fl-center">
        <h1 class="title heading">Jobs</h1>
        <button class="create-job-button">Create New Job</button>
    </div>

    <div class="jobs-results fl-col">

        <div class="jobs-result">
            <a href="" class="fl-row fl-center">
                <h3 class="jobs-title">Job</h3>
                <p class="jobs-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus delectus nam, reprehenderit quod ex repellendus libero corrupti. Fugit, numquam enim reiciendis maiores voluptas ut, sed illum explicabo illo, quia obcaecati.</p>
            </a>
        </div>

        <div class="jobs-result">
            <a href="" class="fl-row fl-center">
                <h3 class="jobs-title">Job</h3>
                <p class="jobs-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus delectus nam, reprehenderit quod ex repellendus libero corrupti. Fugit, numquam enim reiciendis maiores voluptas ut, sed illum explicabo illo, quia obcaecati.</p>
            </a>
        </div>

        <div class="jobs-result">
            <a href="" class="fl-row fl-center">
                <h3 class="jobs-title">Job</h3>
                <p class="jobs-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus delectus nam, reprehenderit quod ex repellendus libero corrupti. Fugit, numquam enim reiciendis maiores voluptas ut, sed illum explicabo illo, quia obcaecati.</p>
            </a>
        </div>

        <div class="jobs-result">
            <a href="" class="fl-row fl-center">
                <h3 class="jobs-title">Job</h3>
                <p class="jobs-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus delectus nam, reprehenderit quod ex repellendus libero corrupti. Fugit, numquam enim reiciendis maiores voluptas ut, sed illum explicabo illo, quia obcaecati.</p>
            </a>
        </div>

        <div class="jobs-result">
            <a href="" class="fl-row fl-center">
                <h3 class="jobs-title">Job</h3>
                <p class="jobs-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus delectus nam, reprehenderit quod ex repellendus libero corrupti. Fugit, numquam enim reiciendis maiores voluptas ut, sed illum explicabo illo, quia obcaecati.</p>
            </a>
        </div>

    </div>

</div>
