<div class="login-div">
    <form class="login-form fl-col" action="">
        <h1>Login</h1>
        <h5>Please enter your details</h5>
        <div class="fl-row">
            <div class="login-icon user"></div>
            <input type="text" value="username">
        </div>
        <div class="fl-row">
            <div class="login-icon lock"></div>
            <input type="password" value="password">
        </div>
        <input class="submit" type="button" value="Submit">
    </form>
</div>