<div class="fl-col sidebar">

    <!-- Profile Picture and Link to home page-->
    <div class="profile-container fl-col"><div class="profile-img"></div></div>

    <!-- Side Menu Bar -->
    <div class="side-item-list fl-col">

        <div class="side-item fl-row a">
            <a href="" class="side-link fl-col">
                <div class="side-icon client"></div>
                <h4>Clients</h4>
            </a>
        </div>
        <div class="side-item fl-row a">
            <a href="" class="side-link fl-col">
                <div class="side-icon engineer"></div>
                <h4>Engineers</h4>
            </a>
        </div>
        <div class="side-item fl-row b">
            <a href="" class="side-link fl-col">
                <div class="side-icon job"></div>
                <h4>Jobs</h4>
            </a>
        </div>
        <div class="side-item fl-row c">
            <a href="" class="side-link fl-col">
                <div class="side-icon asset"></div>
                <h4>Assets</h4>
            </a>
        </div>

    </div>

</div>
