<div class="menu fl-row fl-center">

    <div class="menu-item fl-col fl-center">
        <a href="" class="fl-col fl-center">
        <div class="menu-icon client-dark"></div>
        <h4>Clients</h4></a>
    </div>

    <div class="menu-item fl-col fl-center">
        <a href="" class="fl-col fl-center">
        <div class="menu-icon engineers-dark"></div>
        <h4>Engineers</h4></a>
    </div>

    <div class="menu-item fl-col fl-center">
        <a href="" class="fl-col fl-center">
        <div class="menu-icon jobs-dark"></div>
        <h4>Jobs</h4></a>
    </div>

    <div class="menu-item fl-col fl-center">
        <a href="" class="fl-col fl-center">
        <div class="menu-icon assets-dark"></div>
        <h4>Assets</h4></a>
    </div>

</div>
