<div class="assets-div fl-col fl-center">

    <div class="assets-header fl-row fl-center">
        <h1 class="title heading">Assets</h1>
        <div class="fl-row asset-search fl-center">
            <div class="login-icon search"></div>
            <input class="input-text" type="text" value="search">
        </div>
    </div>

    <div class="assets-header fl-row fl-center">
        <h2 class="title heading">Sort Assets</h2>
        <div class="asset-sort fl-row fl-center">
            <input class="asset-sort-button" type="button" value="category">
            <input class="asset-sort-button" type="button" value="available">
            <input class="asset-sort-button" type="button" value="unavailable">
        </div>
    </div>

    <div class="asset-results fl-row">

        <div class="asset-result fl-row fl-center">
            <div class="asset-img-div asset-img"></div>
            <div class="fl-row fl-center">
                <div class="fl-col fl-center">
                    <h1>Hammer</h1>
                    <div class="asset-data fl-row">
                        <div class="fl-col fl-center">
                            <h6>Free</h6>
                            <h1>2</h1>
                        </div>
                        <div class="fl-col fl-center">
                            <h6>Unavailable</h6>
                            <h1>6</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="asset-result fl-col fl-center">
            <div class="asset-img-div asset-img"></div>
            <h1>Hammer</h1>
            <div class="fl-row fl-center">
                <div class="fl-col fl-center">
                    <h6>Free</h6>
                    <h1>2</h1>
                </div>
                <div class="fl-col fl-center">
                    <h6>Unfree</h6>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="asset-result fl-col fl-center">
            <div class="asset-img-div asset-img"></div>
            <h1>Hammer</h1>
            <div class="fl-row fl-center">
                <div class="fl-col">
                    <h6>Free</h6>
                    <h1>2</h1>
                </div>
                <div class="fl-col">
                    <h6>Unfree</h6>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="asset-result fl-col fl-center">
            <div class="asset-img-div asset-img"></div>
            <h1>Hammer</h1>
            <div class="fl-row fl-center">
                <div class="fl-col">
                    <h6>Free</h6>
                    <h1>2</h1>
                </div>
                <div class="fl-col">
                    <h6>Unfree</h6>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="asset-result fl-col fl-center">
            <div class="asset-img-div asset-img"></div>
            <h1>Hammer</h1>
            <div class="fl-row fl-center">
                <div class="fl-col">
                    <h6>Free</h6>
                    <h1>2</h1>
                </div>
                <div class="fl-col">
                    <h6>Unfree</h6>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="asset-result fl-col fl-center">
            <div class="asset-img-div asset-img"></div>
            <h1>Hammer</h1>
            <div class="fl-row fl-center">
                <div class="fl-col">
                    <h6>Free</h6>
                    <h1>2</h1>
                </div>
                <div class="fl-col">
                    <h6>Unfree</h6>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="asset-result fl-col fl-center">
            <div class="asset-img-div asset-img"></div>
            <h1>Hammer</h1>
            <div class="fl-row fl-center">
                <div class="fl-col">
                    <h6>Free</h6>
                    <h1>2</h1>
                </div>
                <div class="fl-col">
                    <h6>Unfree</h6>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="asset-result fl-col fl-center">
            <div class="asset-img-div asset-img"></div>
            <h1>Hammer</h1>
            <div class="fl-row fl-center">
                <div class="fl-col">
                    <h6>Free</h6>
                    <h1>2</h1>
                </div>
                <div class="fl-col">
                    <h6>Unfree</h6>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="asset-result fl-col fl-center">
            <div class="asset-img-div asset-img"></div>
            <h1>Hammer</h1>
            <div class="fl-row fl-center">
                <div class="fl-col">
                    <h6>Free</h6>
                    <h1>2</h1>
                </div>
                <div class="fl-col">
                    <h6>Unfree</h6>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="asset-result fl-col fl-center">
            <div class="asset-img-div asset-img"></div>
            <h1>Hammer</h1>
            <div class="fl-row fl-center">
                <div class="fl-col">
                    <h6>Free</h6>
                    <h1>2</h1>
                </div>
                <div class="fl-col">
                    <h6>Unfree</h6>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="asset-result fl-col fl-center">
            <div class="asset-img-div asset-img"></div>
            <h1>Hammer</h1>
            <div class="fl-row fl-center">
                <div class="fl-col">
                    <h6>Free</h6>
                    <h1>2</h1>
                </div>
                <div class="fl-col">
                    <h6>Unfree</h6>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="asset-result fl-col fl-center">
            <div class="asset-img-div asset-img"></div>
            <h1>Hammer</h1>
            <div class="fl-row fl-center">
                <div class="fl-col">
                    <h6>Free</h6>
                    <h1>2</h1>
                </div>
                <div class="fl-col">
                    <h6>Unfree</h6>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="asset-result fl-col fl-center">
            <div class="asset-img-div asset-img"></div>
            <h1>Hammer</h1>
            <div class="fl-row fl-center">
                <div class="fl-col">
                    <h6>Free</h6>
                    <h1>2</h1>
                </div>
                <div class="fl-col">
                    <h6>Unfree</h6>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="asset-result fl-col fl-center">
            <div class="asset-img-div asset-img"></div>
            <h1>Hammer</h1>
            <div class="fl-row fl-center">
                <div class="fl-col">
                    <h6>Free</h6>
                    <h1>2</h1>
                </div>
                <div class="fl-col">
                    <h6>Unfree</h6>
                    <h1>6</h1>
                </div>
            </div>
        </div>
        <div class="asset-result fl-col fl-center">
            <div class="asset-img-div asset-img"></div>
            <h1>Hammer</h1>
            <div class="fl-row fl-center">
                <div class="fl-col">
                    <h6>Free</h6>
                    <h1>2</h1>
                </div>
                <div class="fl-col">
                    <h6>Unfree</h6>
                    <h1>6</h1>
                </div>
            </div>
        </div>
    </div>

</div>